* {
    margin: 0;

    li {
        font-size: 1.2vw;
        color: white;
    }

    p {
        font-size: 1.2vw;
        color: white;
    }

    h1 {
        font-size: 3.2vw;
        color: white;
    }

    h2 {
        font-size: 2.2vw;
        color: white;
    }
    a{color: white;}
    
}

header {
    height: 15vh;
    padding-left: 0.5%;
    width: 100%;
    align-items: center;
    text-align: center;
    border: 1px solid aliceblue;
    border-radius: 4px;
    img {
        width: 10vw;
        height: 10vh;
    }

}

.cnt1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cnt11 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    /* background-color: rgb(91, 184, 187); */
    width: 20vw;
    height: 105vh;
    padding-left: 0.5%;
    border: 1px solid aliceblue;
    border-radius: 4px;
}

article {
    /* background-color: aliceblue; */
    width: 70%;
    height: 75vh;
    padding-left: 0.5%;
    border: 1px solid aliceblue;
    border-radius: 4px;

    img {
        max-width: 100%;
    }
}

aside {
    /* background-color: rgb(0, 247, 255); */
    width: 30%;
    height: 75vh;
    padding-left: 0.5%;
    border: 1px solid aliceblue;
    border-radius: 4px;

}

footer {
    /* background-color: cadetblue; */
    height: 15vh;
    width: 100%;
    padding-left: 0.5%;
    justify-content: flex-end;
    border: 1px solid aliceblue;
    border-radius: 4px;
}

.cnt2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.cnt22 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.class {
    border-radius: 4%;
    border: 2px solid cadetblue;
    padding: 1%;
}

img {
    border-radius: 4%;
}

.cnt3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

body,
html {
    height: 100%;
}

.parallax {

    background-image: url("./fundo.webp");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    li {
        font-size: 2vw;
    }

    p {
        font-size: 2vw;
    }

    .cnt11 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    article {


        img {
            width: 25vw;
            height: 15vh;
        }

    }

    .cnt22 {
        flex-direction: column;
        padding: 1%;
    }

    aside {
        height: 75vh;
    }

    nav {
        height: 105vh;
    }
}



@media screen and (min-width:481px) and (max-width: 768px) {
    .cnt2 {
        flex-direction: column;
    }

    article {
        width: 100%;
        height: 70vh;
        padding: 1%;

        img {
            width: 25vw;
            height: 15vh;
        }

    }

    header {
        flex-direction: row;
    }

    aside {
        width: 100%;
        height: 30vh;
        padding-left: 0.5%;

    }

    * {
        margin: 0;

        li {
            font-size: 2vw;
        }

        p {
            font-size: 2vw;
        }

        h1 {
            font-size: 5vw;
        }

        h2 {
            font-size: 3vw;
        }
    }

    header {
        align-items: center;
        text-align: justify;

        img {
            width: 10vw;
            height: 10vh;
            display: inline-block;
        }
    }

    nav {

        height: 131vh;
        padding-left: 0.5%;
    }


}